#new-student {
    margin-left: 43%;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2%;
}
.text-input, .select-button, .date-button, .cancel , .submit{
    font-size: 15px;
    border: 1px solid ;
    border-radius: 25px;
    width: 200px;
}

.student-title{
    color: #000;
    font-size: 15px;
    font-style: italic;
    font-weight: 350;
    font-family: Arial, Helvetica, sans-serif;
}
.cancel{
    color: white;
    background-color: #DB3B3B;
    height: 40px;
}

.submit{
    color: white;
    background-color: #8EACDA;
    height: 40px;
}
.btns{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
  border-radius: 20px;
  font-size: 18px;
  vertical-align: middle;
  padding: 6px 18px;
}




/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #db3b3b;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #74d695;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #74d695;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }