img{
    border-radius: 50%;
    width: 15%;
}
#student-changes{
    padding-top: 15%;
    position: absolute;
    left: 0;
    width: 60%;
    height: 100%;
}
.part{  
    width: 20%;
    padding-bottom: 3%;
}
label{
    display: inline;
}
#center{
    margin: auto;
    width: 60%;
    padding: 10px;
    padding-bottom: 2%;
}
.changes-title{
    display: inline ;
    font: 50px;
    margin:10%;
}
.text-input{
    padding: 4px 8px;
    margin: 3px ;
    box-sizing: border-box;
}
#save{
    background-color: #04aa6d;
    color: white;
    border-radius: 20px;
    font-size: 18px;
    vertical-align: middle;
    padding: 6px 18px
}



#student-info{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: 0;
    top: 10;
    width: 40%;
    height: 50%;
    padding-top: 30%;
    padding-bottom: 30%;
    
}
#info-con{
    background-color: rgb(105,142,162,0.1);
    border-radius: 15px;
}
li{
    list-style: none;
    padding-bottom: 8%;
}
.data-title{
    font-weight: bold;
    font-size: 120%;
}
i{
    padding-right: 20%;
    font-size: 120%;
}

#delete{
    background-color: #DB3B3B;
    color: white;
    border-radius: 20px;
    font-size: 18px;
    padding: 6px 18px
}
h2{
    text-align: center;
}



