
#container {
    height: 400px;
    width: 600px;
    border: 1px solid rgba(12, 15, 26, 0.616);
    position: relative;
    border-radius:75px;
    top: 100px;
    left: 300px;
}

#erorr {
    position: absolute;
    top: -20px;
    left: 40px;
    height: 50px;
    width: 250px;
    background-color: rgb(192, 232, 255);
    border: 2px solid rgba(0, 174, 255, 0.418);
    border-radius:75px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
   
   
}
#erorrmessage {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-inline: middle;
    margin-block-start: 100px;
    

}
#return {
    position: relative;
    color: blue;
    font-size: 20px;
    text-align: left;
    top: 160px;
    left: 850px;
}
button.OK{
    position: relative;
    top: 10px;
    left: 250px;
    display: inline;
    width: 100px;
    background-color:rgb(181, 236, 224) ;
    border: 2px solid rgb(75, 189, 164) ;
    color: #23406d;
    border-radius: 100px;
    padding: 10px 10px;
    transition-duration: 0.02s;
}
button.OK:active{
    transform: scale(0.98);
            /* Scaling button to 0.98 to its original size */
            box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
            /* Lowering the shadow */
}
button.OK:hover {
    background-color: #4c74af;
    color: white;
}  

     