body{
    margin: 0;
}

a{
    text-decoration: none;
}

.nav-right{
    margin-top: -4%;
    float:right;
    width: 31%;
    padding: 1%;
}

.nav-left{
    width:50%;
    padding: 1%;
}

.nav-menu{
    margin:3%;
    color: white;
}

.active-menu{
    padding: 3%;
    background-color: white;
    color:black;
    border-radius: 10% 10% 0% 0%;
}

.nav-menue-logo{
    width: 25px;
}

.nav-bar{
    margin:0;
    background-color: #698EA2;
}

.logo{
    margin:auto;
    display: block;
    margin-left: 43%;
    margin-top: -4%;
    width:11%;
}

/* To make the navBar responsive with all screen sizes */

@media screen and (max-width: 1484px) {
    .nav-right{
        margin-top: -4%;
        float:right;
        width: 32%;
        padding: 1%;
    }
}

@media screen and (max-width: 1439px) {
    .nav-right{
        margin-top: -4%;
        float:right;
        width: 33%;
        padding: 1%;
    }
}

@media screen and (max-width: 1395px) {
    .nav-right{
        margin-top: -4%;
        float:right;
        width: 34%;
        padding: 1%;
    }
}

@media screen and (max-width: 1354px) {
    .nav-right{
        margin-top: -4%;
        float:right;
        width: 35%;
        padding: 1%;
    }
}

@media screen and (max-width: 1316px) {
    .nav-right{
        margin-top: -4%;
        float:right;
        width: 36%;
        padding: 1%;
    }
}

@media screen and (max-width: 1279px) {
    .nav-right{
        margin-top: -4%;
        float:right;
        width: 37%;
        padding: 1%;
    }
}

@media screen and (max-width: 1245px) {
    .nav-right{
        margin-top: -4%;
        float:right;
        width: 38%;
        padding: 1%;
    }
}

@media screen and (max-width: 1212px) {
    .nav-right{
        margin-top: -4%;
        float:right;
        width: 39%;
        padding: 1%;
    }
}

@media screen and (max-width: 1180px) {
    .nav-right{
        margin-top: -4%;
        float:right;
        width: 40%;
        padding: 1%;
    }
}

@media screen and (max-width: 1151px) {
    .nav-right{
        margin-top: -4%;
        float:right;
        width: 41%;
        padding: 1%;
    }
}

/* Hamburger navbar */
@media screen and (max-width: 1123px) {
    
}