body{
    background: url('../images/back-new.png');
    background-repeat: no-repeat;
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    text-decoration: none;
    color: #F97D81;
}

.container{
    float: right;
    margin-top: 5%;
    width: 50%;
}

.icon{
    width: 10%;
    margin-right: 3%;
}

h1{
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #29264E;
}
