.search  {
    width: 340px;
    height: 40px;
    color: #707070;
    display: flex;
    border: 1px solid ;
    border-radius: 25px;
    margin-left: 110px;
}
.search input {
    padding-left: 25px;
    height: 40px;
    margin-right: 40px;
    background: transparent;
    font-size: large;
    color: inherit;
    border: transparent;
}
.search input:focus {
    outline: none;
}
.search button{
    width: 40px;
    border: solid transparent;
    background: transparent;
    opacity: 0.8; 
}
table {
    border-collapse: collapse;
}
.tbl,.tblsearch{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-right: 60px;
}
.tblsearch{
    margin-top: 60px;
}
.tbl button, .tblsearch button{
    width: 40px;
    border: solid transparent;
    background: transparent;
    opacity: 0.8; 
}
.tbl img, .tblsearch img{
    width: 90px;
    height: 90px;
}
tr.head{
    justify-content: center;
}
tr.rw {
    padding: 20 0px;
    border-bottom: 1px solid rgba(112, 112, 112, 0.35);
}
th, td{
    color: #000;
    font-size: 25px;
    font-style: italic;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}
td {
    font-weight: 550;
    padding: 50px 180px;
}
.tblsearch td{
    padding: 50px 240px;
}
td.img{
    padding: 0 0px;
}
td.btn{
    padding: 0 0px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 20px;
  }
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #db3b3b;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}
input:checked + .slider {
background-color: #74d695;
}
input:focus + .slider {
box-shadow: 0 0 1px #74d695;
}
input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}
.slider.round {
border-radius: 34px;
}
.slider.round:before {
border-radius: 50%;
}