{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title id="tit">Assign Department</title>
    <link rel="stylesheet" href="{% static 'css/assign.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/NavBar.css'%}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="nav">
        <nav class="nav-bar">
            <div class="nav-left">
                <a href="/HomePage" class="nav-menu">Home <img src="{% static 'images/home.png'%}" class="nav-menue-logo"/></a>
                <a href="/Add_Student" class="nav-menu">Add Student <img src="{% static 'images/add.png'%}" class="nav-menue-logo"/></a>
                <a href="/Search" class="nav-menu">Search <img src="{% static 'images/search.png'%}" class="nav-menue-logo"/></a>
            </div>
            <div class="nav-right">
                
                <a href="/View-all" class="nav-menu">View All Students <img src="{% static 'images/all.png'%}" class="nav-menue-logo"/></a>
                <a href="/loginPage" class="nav-menu">Log in <img src="{% static 'images/login.png'%}" class="nav-menue-logo"/></a>
            </div>
        </nav>
        <a href="/HomePage"><img src="{% static 'images/nav-logo.png'%}" class="logo"/></a>
    </div>
    <div class="hamburger-menu">
        <nav class="hum-nav">
            <img src="{% static 'images/humburger.png'%}" id="hum-btn"/>
        </nav>
        <a href="/HomePage"><img src="{% static 'images/logo.png'%}" id="hum-logo"/></a>
        <ul id="menu-list">
            <a href="/HomePage"><li class="menu-element">Home <img src="{% static 'images/home.png'%}" class="nav-menue-logo"/></li></a>
            <a href="/Add_Student"><li class="menu-element">Add Student <img src="{% static 'images/add.png'%}" class="nav-menue-logo"/></li></a>
            <a href="/Search"><li class="menu-element">Search <img src="{% static 'images/search.png'%}" class="nav-menue-logo"/></li></a>
            <a href="/View-all"><li class="menu-element">View All Students <img src="{% static 'images/all.png'%}" class="nav-menue-logo"/></li></a>
            <a href="/loginPage"><li class="menu-element">Log in <img src="{% static 'images/login.png'%}" class="nav-menue-logo"/></li></a>
        </ul>
    </div>
    
    <div class="student">
        <div id="assign">
            {% if student.image %}
                <img id="Student-img" src="{{ student.image.url }}">
            {% else %}
                {% if student.gender == 'male' %}
                    <img id="Student-img" src="{% static 'images/male_user.png'%}">
                {% else %}
                    <img id="Student-img" src="{% static 'images/female_user.png'%}">
                {% endif %}
            {% endif %}
            <br>
            <div class="student's info">
                <p class="text-input" type="text" id="id"> <b> Student ID : </b> <i>{{student.id}}</i></p>
                <p class="text-input" type="text" id="name"> <b> Student Name : </b> <i>{{student.name}}</i></p>
                <p class="text-input" type="text" id="level"> <b> Student Level : </b><i id = "l">{{student.level}}</i></p>
                <br>
                <div class="choose_dep">
                    <label for="department"><b>Choose Department :</b></label>
                    <select name="department" id="dep" class="opt-btutton">
                        {% if student.department == "cs" %}
                                <option value="cs" selected>CS</option>
                                <option value="is">IS</option>
                                <option value="it">IT</option>
                                <option value="ds">DS</option>
                                <option value="ai">AI</option>
                            {% elif student.department == "is" %}
                                <option value="cs">CS</option>
                                <option value="is" selected>IS</option>
                                <option value="it">IT</option>
                                <option value="ds">DS</option>
                                <option value="ai">AI</option>
                            {% elif student.department == "it" %}
                                <option value="cs">CS</option>
                                <option value="is">IS</option>
                                <option value="it" selected>IT</option>
                                <option value="ds">DS</option>
                                <option value="ai">AI</option>
                            {% elif student.department == "ds" %}
                                <option value="cs">CS</option>
                                <option value="is">IS</option>
                                <option value="it">IT</option>
                                <option value="ds" selected>DS</option>
                                <option value="ai">AI</option>
                            {% else %}
                                <option value="cs">CS</option>
                                <option value="is">IS</option>
                                <option value="it">IT</option>
                                <option value="ds">DS</option>
                                <option value="ai" selected>AI</option>
                            {% endif %}
                    </select>
                </div><br>
            </div>
            <div><button class="sub" onclick="assignStudent('{{student.id}}')">Submit</button>
            </div>
        </div>

    </div>
    <script src="{% static 'JS/validatedStudentInfo.js'%}"></script>
    <script src="{% static 'JS/nav.js'%}"></script>
    <script src="{% static 'JS/assign.js'%}"></script>
</body>

</html>