{% load static %} {% csrf_token %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/NavBar.css'%}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div class="nav">
            <nav class="nav-bar">
                <div class="nav-left">
                    <a href="/HomePage" class=" {% if navbar == 'home' %} active-menu-left {% else %} nav-menu {% endif %}">Home <img src="{% static 'images/home.png'%}" class="nav-menue-logo"/></a>
                    <a href="/Add_Student" class="nav-menu">Add Student <img src="{% static 'images/add.png'%}" class="nav-menue-logo"/></a>
                    <a href="/Search" class="nav-menu">Search <img src="{% static 'images/search.png'%}" class="nav-menue-logo"/></a>
                </div>
                <div class="nav-right">
                    
                    <a href="/View-all" class="{% if navbar == 'view-all' %} active-menu-right {% else %} nav-menu {% endif %}">View All Students <img src="{% static 'images/all.png'%}" class="nav-menue-logo"/></a>
                    <a href="/loginPage" class="nav-menu">Log in <img src="{% static 'images/login.png'%}" class="nav-menue-logo"/></a>
                </div>
            </nav>
            <a href="/HomePage"><img src="{% static 'images/nav-logo.png'%}" class="logo"/></a>
        </div>
        <div class="hamburger-menu">
            <nav class="hum-nav">
                <img src="{% static 'images/humburger.png'%}" id="hum-btn"/>
            </nav>
            <a href="/HomePage"><img src="{% static 'images/logo.png'%}" id="hum-logo"/></a>
            <ul id="menu-list">
                <a href="/HomePage"><li class="{% if navbar == 'home' %} menu-element-active {% else %} menu-element {% endif %}">Home <img src="{% static 'images/home.png'%}" class="nav-menue-logo"/></li></a>
                <a href="/Add_Student"><li class="menu-element">Add Student <img src="{% static 'images/add.png'%}" class="nav-menue-logo"/></li></a>
                <a href="/Search"><li class="menu-element">Search <img src="{% static 'images/search.png'%}" class="nav-menue-logo"/></li></a>
                <a href="/View-all"><li class="menu-element">View All Students <img src="{% static 'images/all.png'%}" class="nav-menue-logo"/></li></a>
                <a href="/loginPage"><li class="menu-element">Log in <img src="{% static 'images/login.png'%}" class="nav-menue-logo"/></li></a>
            </ul>
        </div>
        {% block content %}
        {% endblock %}

        {% block js %}
        {% endblock %}
        <script src="{% static 'JS/nav.js'%}"></script>
    </body>
</html>