{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/erorr.css'%}"/>
{% endblock %}

{% block content %}
    <div id="container">
        <div id="msg">
            Are you sure you want to delete that Student ?<br/>
        </div>
        <button class="ok"  onclick="deleteStudent('{{id}}')">Yes</button>
        <button class="NO"  onclick="history.back()">NO</button>
    </div>
{% endblock %}

{% block js%}
    <script src="{% static 'js/deleteStudent.js'%}"></script>
{% endblock %}