{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Home page</title>
    <link rel="stylesheet" href="{% static 'css/homePage.css'%}">
{% endblock %}
        
{% block content %}
    <h1><b>Home page</b></h1>

    <h2>Upcoming Important Dates</h2>
    <div id="events">
                
    </div>
    <h2>Latest News</h2>
    <div id="news">
            
    </div>
    <div class="infoClass" >The Faculty is accredited from the National Authority for Quality Insurance and Accreditation of Education.</div>
    <hr>
    Copyright © 2004-2022 Faculty of Computers and Artificial Intelligence 5 Dr. Ahmed Zewail Street, Postal Code: 12613, Orman, Giza, Egypt.
{% endblock content %}
{% block js %}
    <script src="{% static 'js/getHomepage.js' %}"></script>
    <script>getData()</script>
{% endblock %}