{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>New Home Page</title>
        <link rel="stylesheet" href="{% static 'css/NewHomePage.css'%}"/>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <h1><img src="{% static 'images/HR.png'%}" class="icon"/> Human Resources</h1>
            <h1><a href="/HomePage"><img src="{% static 'images/StudentAffairs.png'%}" class="icon"/>Students Affairs</a></h1>
            <h1><img src="{% static 'images/HigherStudies.png'%}" class="icon"/>Higher Studies</h1>
            <h1><img src="{% static 'images/Lab.png'%}" class="icon"/>Laboratory Tracking</h1>
        </div>
    </body>
</html>