{% extends 'base.html' %}

{% block content %}
  <div class="search">
    <input type="text" placeholder="Student name" class="input-field" id="isearch" onkeyup="loadSearchStudents()">
    <button type="submit" onclick="loadSearchStudents()"><i class="fa fa-search"></i></button>
  </div>
  <<div class="tbl">
    <table>
      <thead id="tableHead">
        <tr class="head">
          <th></th>
          <th>Name:</th>
          <th>ID:</th>
          <th>Status:</th>
          <th>Edit</th>
          <th>Assign department</th>
        </tr>
      </thead>
      <tbody id="tableData"></tbody>


    </table>
    </div>
{% endblock %}