{% extends 'base.html' %}
{% load static %} {% csrf_token %}

{% block head %}
  <title>View All Student</title>
  <link rel="stylesheet" href="{% static 'css/search&viewStudents.css'%}" />
  <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet" />
{% endblock %}

{% block content %}

  <div class="tbl">
    <table>
      <thead id="tableHead">
        <tr class="head">
          <th></th>
          <th>Name:</th>
          <th>ID:</th>
          <th>Status:</th>
          <th>Edit</th>
          <th>Assign department</th>
        </tr>
      </thead>
      <tbody id="tableData"></tbody>


    </table>
  </div>
{% endblock %}
{% block js %}
<script src="{% static 'js/getAllStudents.js'%}"></script>
<script>
  if (window.performance && window.performance.navigation.type === window.performance.navigation.TYPE_BACK_FORWARD) {
    window.location.reload();
  }
  loadStudents();
</script>
{% endblock %}